.venv
__pycache__
.ipynb_checkpoints
.DS_Store
*.zip
*.json
*.csv
*.txt
*.png
*.npy
*.class
*.ipynb

test_gen
test_data
Dataset1
Dataset2
Disease_dataset
Draft
0410
Experiment1_NonOverlap
Overlap_testing_5000
Dataset_log
Dataset_log_test
Official_log
Thesis_log
Dataset4
Dataset5
Dataset6
Dataset7
Dataset8
Dataset9
Dataset10
Dataset11
Dataset12
